# Główna biblioteka do YOLOv8 (zawiera w sobie od razu PyTorch, OpenCV i Pandas)
ultralytics==8.1.0 

# Biblioteki potrzebne do konwersji modelu (PyTorch -> ONNX -> NCNN)
onnx>=1.15.0
onnxruntime>=1.17.0

# Narzędzia pomocnicze
matplotlib
numpy
